<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <!-- "Add to Cargo Hold" button goes here. -->
            <button (click) = "addToCargoHold(item)" [disabled] = "!canAdd(item)" [class.buttonColorChange] = "buttonColorChange() && canAdd(item)">Add to Cargo Hold</button>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.remainingColorChange] = "sumCargoMass(cargoHold)>=1800">Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
    <!-- Add the "Empty Hold" button here. -->
    <button (click) = "emptyHold()">Empty Hold</button>
</div>

